<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">

<head>
</head>
<body>
	<p>
		<br>Kepada Bapak/Ibu Pimpinan
        <br><span th:text="${BIDING_DATA.vendorSelection}"></span>
		<br>Hal: Undangan Bidding
		<br>Dengan hormat</p>
	<p>Sehubung dengan bidding sesuai judul di atas,kami mengundang Ibu/Bapak untuk mengikuti bidding tersebut
		. Silahkan Bapak/Ibu melakukan login di login.com untuk mendaftar pada bidding tersebut
		. Demikian penyampaian ini kami dengan senang hati menerima bila ada yang hendak di komunikasikan silahkan
		sampaikan ke email eproc.berca.co.id </p>
	<p>Hormat Kami
	<br>Berca.co.id</p>
</body>
</html>
