<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">

<head>
</head>
<body>
    <p>
        <br> Dear #vendorName
    <p> As you are aware, the #contractName between #companyName and #companyName1  has been in effect since #ContractDate.
        We would like to renew the agreement for another #startDate to #expiredDate.
        Please contact us to confirm the renewal.

    <br>Thank you.</p>
    <br>Regards,</p>
    <br>Berca.co.id</p>
</body>
</html>
