<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">

<head>

</head>

<body>
    <p>
        <br>Kepada Bapak/Ibu Pimpinan
        <br>Sistech Kharisma PT
        <br>Hal: Pemenang Lelang
        <br>Dengan hormat</p>

    <p>Sehubung dengan pelaksaanaan pelelangan pengadaan kendaraan operasional berdasarkan hasil ecvaluasi proposal
        penawaran lelang, dengan ini kami umumkan penetapan pemenang lelang sebagai berikut :


    <p>Hormat Kami
    <br>Berca.co.id</p>

</body>

</html>
