<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">

<head>

</head>

<body>
    <p>
        <br>Kepada Bapak/Ibu Pimpinan 
        <br>Sistech Kharisma PT
        <br>Hal: Pemenang Lelang
        <br>Dengan hormat</p>
    <p>Sehubung dengan pelaksaanaan pelelangan pengadaan kendaraan operasional berdasarkan hasil ecvaluasi proposal
        penawaran lelang, dengan ini kami umumkan penetapan pemenang lelang sebagai berikut :
    <table border="1"  >
        <tr>
            <td>No</td>
            <td colspan=”2” >Data Informasi</td>

        </tr>
        <tr>
            <td>1</td>
            <td>Nama Pekerjaan</td>
            <td>Pengadaan kendaraan operasional</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Nama Penyedia Jasa </td>
            <td>PT Sistech Kharisma</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Alamat Penyedia Jasa</td>
            <td>Jakarta Pusat 10340 </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Harga penawaran</td>
            <td>29.000.000.000.-
            <br>Dua Puluh Sembilan Milyar</td>
        </tr>

            <td>5</td>
            <td>Nomor Pokok Wajib Pajak</td>
            <td>01.302.965.7-073.000</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Hasil Evaluasi</td>
            <td>
                Nilai Teknis sebesar 42.57
                <br>Nilai Harga/Biaya sebesar 22.75
                <br>Nilai Evaluasi Keseluruhan sebesar 65.35
            </td>
        </tr>
    </table>
    <p>Terhadap peserta lelang yang keberatan atas hasil penetapan lelang pada paket pekerjaan tersebut dapat mengajukan
        sanggahan tertulis 2 (dua) hari kerja setelah tanggal pengumuman ini </p>
    <p>Hormat Kami
    <br>Berca.co.id</p>

</body>

</html>
